body{
    background-color: rgb(247, 247, 247);
}
#box{
    width:200px;
    height: 200px;
    background: linear-gradient(0deg, blue, blue), linear-gradient(180deg, red, red), linear-gradient(90deg, green, green), linear-gradient(270deg, yellow, yellow);
    background-size: 50% 50%;
    background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
}
header{
    display: flex;
 
    align-items: center;
    justify-content: center;
    flex-flow:column;
    height:500px;
}
